.card_sign_water {
  width: 12.5rem;
  padding: 1.25rem;
  border-radius: 0.25rem;
  background-color: #0000ff;
  color: #fff;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.card_sign_fire {
  width: 12.5rem;
  padding: 1.25rem;
  border-radius: 0.25rem;
  background-color: #ff0000;
  color: #fff;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.card_sign_earth {
  width: 12.5rem;
  padding: 1.25rem;
  border-radius: 0.25rem;
  background-color: #8b4513;
  color: #fff;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.card_sign_air {
  width: 12.5rem;
  padding: 1.25rem;
  border-radius: 0.25rem;
  /* border: 1px solid #000000; */
  background-color: #e0f8ff;
  color: #000000;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.title_icon {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.card_sign h3 {
  font-weight: 600;
  font-size: 1.125rem;
}

.card_sign img {
  flex: 1;
  width: 9rem;
  height: 9rem;
  padding: 1rem;
  object-fit: contain;
  border-radius: 2px;
  border: 1px solid #734136; 
  background-color: #fff;
}

.card_sign_water img,
.card_sign_fire img,
.card_sign_earth img,
.card_sign_air img {
  width: 11.25rem;
  height: 11.25rem;
  object-fit: contain;
  border-radius: 0.25rem;
}

.card_sign_air img {
  border: 1px solid #29739e;
}

.icon {
  width: 1.75rem;
  height: 1.75rem;
}

.card_sign span {
  font-size: 0.75rem;
}